html,
body {
  height: 100%;
  width: 100%;
  font-weight: 300;
  background-image: url(../background-max.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

html {
  font-size: 19.20px;
}

#container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 60rem;
  height: 28rem;
  display: flex;
  font-weight: 300;

}

.main .bg {
  height: 100%;
  background-image: url(../background-middle.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main .form {
  padding: 2.5rem 1rem;
  background: rgba(35, 34, 34);
}

.main .form .title {
  font-size: 1rem;
  margin-left: 1.5rem;
  position: relative;
}

.main .form .title::after,
.main .form .title::before {
  content: ' ';
  position: absolute;
  background: rgba(204, 204, 204, 0.5);
}


.main .form .title::after {
  left: 0;
  top: -.8rem;
  width: 5rem;
  height: 1px;
}

.main .form .title::before {
  left: -1rem;
  top: -.8rem;
  width: 1px;
  height: 2rem;
}

.main .form .sub_title {
  margin: .8rem 0;
}

.form-label {
  margin-bottom: .2rem;
  font-size: .7rem;
}

.form-control {
  padding: 0.3rem 0.4rem;
  font-size: .6rem;
}

.form-label.required::after {
  content: ' *';
  color: red;
}

.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}


.btn {
  letter-spacing: .5rem;
  font-weight: 300;
}


.btn-outline-white:hover {
  border-color: rgba(255, 255, 255, 0.5);
}


.hr_border {
  width: 100%;
  height: .3rem;
  background-image: url(../decorate-line.svg);
  background-size: cover;
}

.botton_btns {
  color: #ccc;
  text-align: center;
  line-height: 1.5rem;
  font-size: .7rem;
}

.botton_btns .button {
  cursor: pointer;
}

.vr_margin {
  margin: 0 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .7rem;
  padding: .6rem 0;
}

footer .border_line {
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}

footer .border_line:after {
  position: absolute;
  top: 1.45rem;
  left: 2rem;
  content: ' ';
  width: 4rem;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
}

footer .declaration {
  margin-left: 10rem;
  margin-top: .8rem;
}

.copyright {
  text-align: right;
  padding: 0 .5rem;

}

footer a {
  cursor: pointer;
  padding-right: 1rem;
}

.btn {
  padding: .4rem .3rem;
  font-size: .7rem;
}

@media screen and (max-width: 1400px) {
  .main {
    /* transform: scale(.8); */
  }
}
