.main .bg {
    width: 850px;
}

.main .form {
    width: 350px;
}

.verification_code {
    color: #2f81fb;
    font-weight: 400;
    cursor: pointer;
}

.reset {
    font-size: 12px;
    color: rgb(154, 154, 154);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 4px;
}

.reset_border {
    width: 36px;
    margin-right: 5px;
    background-color: rgb(154, 154, 154, .5);
    height: 1px;
}

.reset_btn {
    margin-left: 10px;
    background-image: url(../plane-button-blue.svg);
    width: 30px;
    height: 30px;
    background-size: 100%;
}